doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/javascript/jQuery/jquery-2.0.3.min.js')
        //- layout specific js includes
        block js 
        //- layout specific css includes
        block css 
    body
        block content