extends layout

block breadcrumbs
	ol.breadcrumb
		li
			a(href="/") Home
		li.active Petitions

block js
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='https://raw.github.com/janl/mustache.js/master/mustache.js')
	script(type='text/javascript', src='https://raw.github.com/jonnyreeves/jquery-Mustache/master/jquery.mustache.js')
	script(type='text/javascript', src='/javascript/petitionstable.js')
	script(type='text/javascript', src='/javascript/petitionscontroller.js')


block content
	h2.page-title #{page_title}

	table#petitions.table.table-hover
		thead
			tr
				th.title(colspan="2") Petition Title
				th.view View
		tbody#content
