extends layout

block breadcrumbs
	ol.breadcrumb
		li
			a(href="/") Home
		li
			a(href="/petitions/") Petitions
		li.active Petition Detail

block js
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='https://raw.github.com/janl/mustache.js/master/mustache.js')
	script(type='text/javascript', src='https://raw.github.com/jonnyreeves/jquery-Mustache/master/jquery.mustache.js')
	script(type='text/javascript', src='/javascript/petitiondetails.js')
	script(type='text/javascript', src='/javascript/signaturestable.js')
	script(type='text/javascript', src='/javascript/petitioncontroller.js')

block content
	h2.page-title Petition ##{petitionId}

	.row#petition-container
		.col-lg-8
			h3 Overview
			table.table
				tbody
					tr
						th(scope="row") Title
						td#ptitle
					tr
						th(scope="row") URL
						td
							a#purl
					tr
						th(scope="row") Body
						td#pbody
					tr
						th(scope="row") Issues
						td#pissues

			.panel.panel-default
				.panel-heading Signatures
				table.table#signatures
					tbody
						tr
							th Signed
							th Zipcode
							th City
							th State
							th Date Signed

		.col-lg-4
			img.img-thumbnail(src="http://robohash.org/#{petitionId}?size=360x360&bgset=bg2")
			h3 Dates
			table.table
				tbody
					tr
						th Created
						td#pcreated
					tr
						th Deadline
						td#pdeadline

			h3 Signature Progress
			ul.list-group
				li.list-group-item
					#progressbar
				li.list-group-item
					Signature Count &nbsp;
					span#psignaturecount
				li.list-group-item
					Signature Threshold &nbsp;
					span#psignaturethreshold
				li.list-group-item
					Signatures Needed &nbsp;
					span#psignaturesneeded

			h3 Visualizations
			div
				a(href='/petitions/signaturesheatmap/#{petitionId}')!= '<span class="glyphicon glyphicon-globe"></span> Link to Signatures on a Heat Map!'
			input#petitionId(type='hidden', value='#{petitionId}')
