extends layout

block js
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/javascript/lib/signatureheatmap.js')

block content
	h1 #{title}
	div(id='console')
	input(id='petitionId', value='#{petitionId}')