td.view {
  font-size: 2em; }
  td.view a {
    text-decoration: none; }

#console {
  height: 400px;
  overflow: scroll; }

#map-canvas {
  height: 600px;
  width: 1170px;
  max-width: 100%;
  max-height: 100%; }

.clear {
  clear: both; }

.built-with {
  text-align: right; }

.progress {
  margin-bottom: 0; }
