
#petitions{
	.row{
		border:1px solid #CCC;
	}
	.even{
		background-color:#eee;
	}
	.odd{
		background-color:#fff;
	}

	#header,
	#content{
		width:100%;
	}
	
	.id,
	.title,
	.body{
		padding:5px;
		float:left;
	}
	.id{
		width:5%;
	}
	.title{
		width:20%;
	}
	.body{
		width:70%;
	}
}
#console{
	height:400px;
	overflow:scroll;
}
#map-canvas {
	height:600px;
	width:1170px;
	max-width: 100%;
	max-height: 100%;
}
.clear {
	clear:both;
}

.built-with {
	text-align: right;
}

.progress {
	margin-bottom: 0;
}
