#petitions .row {
  border: 1px solid #CCC; }
#petitions .even {
  background-color: #eee; }
#petitions .odd {
  background-color: #fff; }
#petitions #header,
#petitions #content {
  width: 100%; }
#petitions .title,
#petitions .body {
  padding: 5px;
  float: left; }
#petitions .title {
  width: 20%; }
#petitions .body {
  width: 70%; }

.clear {
  clear: both; }
